* {
	margin:0;
	list-style:none;
	vertical-align:baseline;
	padding:0 auto;
}

body{
	margin:0 auto;
	clear:both;
	
	font-size:16px;
}

html{
	margin:0 auto;
}

.div-logo{
	float:left;
	background-color:#1B75C9;
	height:100%;
	width:10%;
	margin-left:10%;
	font-family: Arial;
	font-size: 20px;
	text-align:center;
	padding-top:18px;
}

.div-logo:hover {
  background: #1B75C2;
  text-decoration: none;
}

.div-background{
	width:100%;
	height:100%;
}

.div-header{
	width:100%;
	height:8%;
	background-color:#1B75C9;
	border-bottom:1px solid #155A9C;

}

.div-content{
	width:100%;
	height:87%;
	border-bottom:1px solid black;
	background-color:white;
	border-top:1px solid black;
}

.div-footer{
	width:100%;
	height:4.9%;
	text-align:center;
	background-color:white;
}

.div-information{
	width:80%;
	height:100%;
	margin-left:10%;
	
}

.a-link{
	text-decoration: none;
	color:white;
	margin-top:5px;
}

.a-link:hover{
	text-decoration: none;
	color:white;
}

.div-buttons{
	width:30%;
	height:100%;
	margin-left:40%;
	background-color:blue;
	float:left;
}


.div-btn {
  font-family: Arial;
  font-size: 20px;
  background-color:#1B75C9;
  width:33.33%;
  height:100%;
  text-align:center;
  padding-top:18px;
  float:left;
}

.div-search{
	width:100%;
	height:20%;
	float:left;
	margin-top:5%;
}

.div-pagination{
	width:100%;
	height:80%;
}

.div-btn:hover {
  background: ##1B75C2;
  text-decoration: none;
}

.div-login{
	width:30%;
	height:40%;
	margin-left:35%;
	margin-top:10%;
	float:left;
}

.div-review{
	width:80%;
	height:100%;
	float:left;
	margin-left:10%;
}

.div-newreview{
	width:80%;
	height:100%;
	float:left;
	margin-left:10%;
}

.div-textbox{
	width:60%;
	display:inline;
}

.div-textboxreview{
	width:100%;
	height:60%;
}

.div-buttonreview{
	width:100%;
}

.button-position{
	margin-left:91.5%;
}

.review-textbox{
	height:100%;
	width:100%;
	resize:none;
	background-color:white;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
         box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
         transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.review-textbox:focus{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.logo-text{
	font-size:24px;
	color:white;
	margin-top:20px;
	text-align:center;
	text-decoration:none;
}

.search-textbox{
	height:100%;
	width:60%;
	float:left;
	margin-left:5%;
}

.search-button{
	height:100%;
	width:10%;
	float:left;
	margin-left:10%;
}

.div-reviews{
	height:70%;
	width:80%;
	float:left;
	margin-left:5%;
}

.div-reviewcontent{
	height:20%;
	width:100%;
	border-top:1px solid black;
}

.div-bookname{
	height:30%;
	width:50%;
	float:left;
}	

.div-bookauthor{
	height:30%;
	width:30%;
	margin-left:70%;
}

.text-bookname{
	font-size:24px;
	padding-left:10px;
}

.div-reviewinfo{
	height:70%;
	width:100%;
	resize:none;
}

.text-review{
	font-size:16px;
	padding-left:10px;
}

.div-reviewbookname{
	width:100%;
	height:10%;
}

.div-booknamereview{
	width:50%;
	height:50%;
	float:left;
}

.div-authornamereview{
	width:40%;
	height:50%;
	float:left;
	margin-left:10%;
}

.div-authorbookreview{
	width:40%;
	height:50%;
	float:left;
}

.div-reviewinformation{
	width:100%;
	height:40%;
	float:left;
	margin-top:2%;
}

.div-reviewcomments{
	width:100%;
	height:30%;
	float:left;
	margin-top:2%;
	overflow-y:auto;
}



.text-reviewname{
	font-size:24px;
}

.text-authornamereview{
	font-size:18px;
	padding-top:5px;
}



.div-coment{
	width:100%;
	height:50%;
	float:left;
	border-top:1px solid black;

}

.div-authorcomment{
	width:30%;
	height:30%;
	float:left;
}

.div-textdate{
	width:20%;
	height:30%;
	float:left;
	margin-left:50%;
}
